/*************************** Histogram Style *****************************/
#multipleHistogram{
    border: 1px solid black;
	  font: 10px sans-serif;
    position: relative;
    height: 503px;
    overflow-y: scroll;
    overflow-x: scroll;
    display: inline-block;
    padding-left: 1px;
}
#multipleHistogram .xAxis{
	font: 8px sans-serif;
}

#multipleHistogram thead{
	background-color:rgba(232, 157, 77, 0.9);
	overflow:hidden;
  font: 15px sans-serif;
}

#multipleHistogram .bar rect {
  fill: rgba(52, 100, 222, 1);
  shape-rendering: crispEdges;
}

#multipleHistogram .xAxis path, .xAxis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
#multipleHistogram rect{
  fill: rgba(52, 100, 222, 1);
  shape-rendering: crispEdges;
}
#multipleHistogram .totalDataBar{
  fill: none;
  stroke:#000;
}

#tableTooltip {
    position: absolute;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font: 10px sans-serif;
    background: rgba(232, 157, 77, 0.8);
    border: 0px;
    pointer-events: none;
}
/*************************** END Histogram Style *****************************/
/*************************** LineChart Style *****************************/
#lineChart {
  border: 1px solid black;
  font: 10px sans-serif;
  display: inline-block;
}

#lineChart .axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#lineChart .line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
  stroke-opacity:0.4;
}
/*************************** END Histogram Style *****************************/

/*************************** Map Style *****************************/
#map{
  border: 1px solid black;
  width:800px;
  height:500px;
  display: inline-block;
  background: #F8F8FF;
}
#map path {
  stroke: black;
  stroke-width: 0.30px;
  fill: rgba(225,239,224,1);
}

#map .links {
	fill:none;
	stroke: blue;
}

#mapTooltip {
    position: absolute;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font: 10px sans-serif;
    background: rgba(232, 157, 77, 0.8);
    border: 0px;
    pointer-events: none;
}

#mapTooltipname{
  font: 10px sans-serif;
  font-weight: bold;
}

#map .nodes{
  fill:white;
  stroke: black;
}

/*************************** END Histogram Style *****************************/