body{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/*************************** query Style *****************************/
.bullets{
  position:relative;
  /*Top and left specified inline because each has a specific position (main.js)*/
  fill:rgba(255, 153, 0, 1.0);
  /*rgba(230, 108, 0, 1.0) same color as logo bu button is different*/
}

.querySelector img{
  float:left;
}
/* Set up width of the queries (except query type that is done in line in main.js)*/

#queryTimeFrame-button{
  float:left;
}

#fieldset {
  padding: 0em;
  position: relative;
  top:4em;
  width:30em;
  left: -2.1em;
  border: 0;
}

.fieldsetTitle{
  position: absolute;
  top: -1.5em;
  left: 1.5em;
  font-size: 1.8em;
}

#fieldset > div{
  position:relative;
}

#fieldset *:focus{
   outline:0;
}

#queryTypeDiv{
  left:0em;
  top:-2px;
}

#queryMeasureDiv{
  left:0em;
  top:-2.7em;
}

#queryValueDiv{
  left:0em;
  top:-5.2em;
}

#queryTimeFrameDiv{
  left:0em;
  top:-7.5em;
}

#dateHourDiv{
  top:-7.2em;
  left:0em;
  width:40em;
  padding: 0em;
  height: 0em;
  border: 0;
}

#playbuttonImg{
  position:relative;
  left: -0.5em;
  top: -0.3em;
}

#whiteButtonImg{
  position: relative;
  left: 0.5em;
  top: -2.7em;
}

#queryButtonImg{
  position: relative;
  top: -4.5em;
}

.querySelector #submit{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1em;
  background-color:white;
  position: relative;
  border-style: solid;
  top: -3em;
  left: 1.2em;
  border-radius: 100%;
  height: 3em;
  width: 3em;
}

.querySelector .ui-selectmenu-button{
  border:none;
  background: white;
}

.querySelector .ui-selectmenu-text{
  font-size: 1em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.querySelector .datePicker{
  position:relative;
  width: 5.5em;
  padding: 0.4em;
  background: #f6f6f6;
  border: 0;
  border-radius: 0;
  background-color: rgba(82, 135, 206, 0.2);
  font-size: 0.8em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}

.querySelector .timePicker{
  position:relative;
  background: #f6f6f6;
  border: 0;
  border-radius: 0;
  background-color: rgba(82, 135, 206, 0.2);
  font-size: 0.8em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  padding: 0.4em;
}

.saveButton{
  position: relative;
  top: -47.9em;
  left: 91em;
  padding: 0.8em;
  background-color: rgba(232, 157, 77, 0.9);
}

.goBack{
  position: relative;
  float:right;
  border:;
}
.mainInfo{
  position: absolute;
  top: -3em;
  left: 14em;
}

.mainInFoText{
  position:absolute;
  top: -4em;
  left: 17em;
  width:60em;
}

/*************************** END query Style *****************************/

/***************************Application Region Style **********************************/
.applicationRegion{
  position: relative;
  left:15em;
}

#infoDiv{
  position: absolute;
  top: 22.3em;
  width: 15em;
}

#infoDashboardDiv{
  position: absolute;
  top: 7em;
  width: 15em;
}

/*************************** END Application Region Style *****************************/
/*************************** Histogram Style *****************************/
.multipleHistogram{
    border: 1px solid black;
	  font-size: 10px;
    position: relative;
    min-height: 20em;
    overflow-y: scroll;
    display: inline-block;
    padding-left: 1px;
    text-align: center;
}
.multipleHistogram .xAxis{
	font-size: 8px;
}

.multipleHistogram thead{
	background-color:rgba(232, 157, 77, 0.9);
	overflow:visible;
  font-size: 15px;
}

#header-fixed {
    position: fixed;
    top: 0px; display:none;
    background-color:white;
}

.multipleHistogram .bar rect {
  fill: rgba(52, 100, 222, 1);
  shape-rendering: crispEdges;
}

.multipleHistogram .xAxis path, .xAxis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.multipleHistogram rect{
  fill: rgba(52, 100, 222, 1);
  shape-rendering: crispEdges;
}
.multipleHistogram .totalDataBar{
  fill: none;
  stroke:#000;
  stroke-width: 0.5px;
}

.tableTooltip {
    position: absolute;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10px;
    background: rgba(232, 157, 77, 0.8);
    border: 0px;
    pointer-events: none;
}
/*************************** END Histogram Style *****************************/
/*************************** LineChart Style *****************************/
#lineChart {
  position:relative;
  float:left;
}

#lineChart .axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

#lineChart .line {
  fill: none;
  stroke-width: 1.5px;
  stroke-opacity:0.4;
}

.lineChartLegendNames{
  stroke-opacity:0.4;
}
/*************************** END Histogram Style *****************************/

/*************************** Map Style *****************************/
.map{
  border: 1px solid black;
  width:1197px;
  height:500px;
  display: inline-block;
}
.map path {
  stroke: black;
  stroke-width: 0.30px;
  fill: rgba(225,239,224,1);
}

.map .links {
	fill:none;
	stroke: blue;
}

.map .linksPlaceholder{
  fill:none;
  stroke:lightgrey;
}

#mapTooltip {
    position: absolute;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10px;
    background: rgba(232, 157, 77, 0.8);
    border: 0px;
    pointer-events: none;
}

#mapTooltipname{
  font-size: 10px;
  font-weight: bold;
}

.map .nodes{
  stroke: black;
}

.map .nodesPlaceholder{
  stroke: black;
}

.map .mapLegend{
  font-size: 12px;
}

/*************************** END Histogram Style *****************************/

/*************************** Heatmap Style *****************************/
.heatmap .yAxisLabel{
  font-size: 0.8em;
}

/*************************** END Heatmap Style *****************************/

/*************************** Dashboard Style *****************************/
.dashboardTitle{
  position: absolute;
  top: 1em;
  left: 3.7em;
  font-size: 1.8em;
}

/*************************** END Dashboard Style *****************************/